.button {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    outline: none;
    border-radius: 3px;
    margin: .5em;
    font-size: 1.1em;
    height: 1.8em;
    transition: box-shadow .3s;
    display: flex;

    /* animation taken from hover.css */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    margin-bottom: .4em;
    cursor: pointer;
}

.button:hover, .button:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
