.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .6em 0;
    border-top: 1px solid #cecece;

    transition: background-color .4s ease-in-out;
}

.cont:hover {
    background-color: #cecece;
}

.name {
    margin-left: 1em;
    font-size: 1.2em;
    font-family: 'PT Sans', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .name {
        font-size: 6em;
        margin-left: .4em;
        margin: .5em .4em;
    }
    .cont {
        margin-bottom: 1em;
    }
}