.header {
    position: relative;
    height: 3em;
    background-color: #f1f1f1; /* #858e87;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 2px 15px rgba(0,0,0,.4), -10px 2px 15px rgba(0,0,0,.4);
    z-index: 100;
}

.title {
    font-size: 2em;
    margin-left: .6em;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 1px 1px 5px rgba(0,0,0,.5);
    color: #464646;
    text-decoration: none;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: text-shadow;
    transition-property: text-shadow;
}

.title:hover, .title:focus {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.titleCont {
    display: flex;
    align-items: center;
}
