.cont {
    margin-top: 2em;
    width: 60%;
    border-radius: .2em;
    padding-left: .4em;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.4);

    font-size: .8em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'PT Sans', sans-serif;
    background-color: #f1f1f1;
}

.button {
    padding: .5em 2em;
    margin-left: .5em;
    border: none;
    background-color: #fbebd6;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 1em;
    outline: none;

    transition: .3s background-color ease-in-out;
}

.button:hover {
    background-color: #ecab56;
    outline: none;
}
 
.active {
    background-color: #f7d3a5;
}

.search {
    margin-right: 2em;
    border: none;
    background-color: #fefefe;
    outline: none;
    width: 15em;
    padding-left: .5em;
    font-size: 1.3em;
}
