.background {
    position: absolute;
    top: 3em; /* header height*/
    bottom: 0;
    background: url(./background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 0;
}

.imageFader {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.header {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 3em;
    color: #ecab56;
    font-family: 'PT Sans', sans-serif;
}