.headerCont {
    position: relative;
    top: 20vh;
    left: 10%;
    width: 50%;
}

.header {
    font-size: 3em;
    color: #8abd83;
    font-family: 'PT Sans', sans-serif;
    text-shadow: 1px 1px 10px rgba(0,0,0,.9);
}

.desc {
    margin-top: 1em;
    color: #cecece;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 10px rgba(0,0,0,1);
}

.link {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    outline: none;
    border-radius: 3px;
    margin-right: .3em;
    margin-top: 1em;
    text-decoration: none;
    display: block;

    font-size: 1.1em;
    background-color: #ecab56;
    padding: .5em 1em;
    transition: box-shadow .3s;
    color: black;

    /* animation taken from hover.css */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.link:hover, .link:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 1000px) {
    .headerCont {
        margin-top: 10em;
        top: 0;
        left: 0;
        width: 90%;
        background-color: rgba(0,0,0,0.5);
        padding: 2em;
        border-radius: 3em;
    }

    .header {
        font-size: 5em;
    }

    .introCont {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .desc {
        font-size: 2.5em;
    }

    .linkCont {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .link {
        width: 80%;
        border-radius: .5em;
        font-size: 4em;
        display: flex;
        justify-content: center;
    }

    .login {
        background-color: #8abd83;
    }
}
