.cont {
    margin-top: 1em;
}

.li {
    list-style-type: disc;
    margin-bottom: .5em;
}

.empty {
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 1em;
}

@media only screen and (max-width: 1000px) {
    .empty {
        font-size: 3em;
    }

    .li {
        font-size: 3em;
    }
}
